# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Whitelist mode
*
!.gitignore

# general git files
!license
!readme.md

# project files and folders
!docker-compose.yml
!go.*
!Makefile

!services
!services/**
